@import "../variables";

$colors: (
        "primary-light": $primary-green-light,
        "primary-dark": $primary-green-dark,
        "secondary" : $secondary-grey,
        "white" : $white,
        "black" : $black,
        "error" : $error-red,
        "error-dark" : $error-red-dark,
);

@mixin btn($bg-color) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding*0.5 $base-padding;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);

    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-outlined-#{$key} {
    @include btn($white);
    border: $base-border-weight solid $val;

    &:hover {
      background-color: $val;
      color: $white;
    }
  }
}