@import "../variables";

$colors: (
        "primary-light": $primary-green-light,
        "primary-dark": $primary-green-dark,
        "secondary" : $grey-dark,
        "tertiary" : $secondary-grey,
        "white" : $white,
        "black" : $black,
        "error" : $error-red,
        "error-dark" : $error-red-dark,
);

@mixin btn($bg-color) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding*0.5 $base-padding;
    background-color: $bg-color;
    border-radius: $base-border-radius;
}

@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn($val);

        &:hover {
            background-color: lighten($val, 5);
        }
    }
    .btn-outlined-#{$key} {
        @include btn($white);
        border: $base-border-weight*1.5 solid $val;
        color: $val;
        background-color: transparent;

        &:hover {
            background-color: $val;
            color: $white !important;
        }
    }
}

.btn-lg {
    border-radius: $base-border-radius-sm;
}

.btn-md {
    padding: $base-padding*0.6 $base-padding*1;
    border-radius: $base-border-radius-sm*1.5;
}

.btn-sm {
    padding: $base-padding*0.4 $base-padding*0.8;
    border-radius: $base-border-radius-sm;
}

.btn-xs {
    padding: $base-padding*0.2 $base-padding*0.4 !important;
    border-radius: $base-border-radius-sm*0.75;
}


.tab-btn {
  border: none;
  background-color: transparent;
  font-size: large;
  font-weight: 600;
  color: $secondary-grey;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $primary-green-light;
  }

  &.active-tab {
    border-bottom: $primary-green-light 2px solid;
    color: $primary-green-light;
  }
}

.btn-gold {
  border: 1px solid $gold-light;
  border-radius: $base-border-radius-sm;
  background-color: $gold-light;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: darken($gold-light, 1%)
  }
}

button {
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
        color: $secondary-grey!important;
        background-color: transparent;
    }
}


