@import "../variables";

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  @extend %flex-layout;
  padding: $base-padding*0.75 $base-padding*2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background: $white;
  height: 100px;

  .site-title {
    font-size: $font-size-lg
  }

  .container {
    @extend %flex-layout;
    max-width: 100%;
  }

  .brand-logo {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: $base-border-radius*0.5;
  }
}