@import "../variables";

.content-with-sidebar {
  display: flex;
  height: 100vh;

  aside.sidebar {
    //max-width: 22vw;
    transition: all 0.3s ease !important;
    padding: 0;
    margin: 0;
    background-color: white;
    z-index: 10;
    flex: 0 1 22% !important;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);

    .brand-logo-container {
      height: 100px;
    }

    .brand-logo-large {
      display: block;
    }

    .brand-logo-small {
      display: none;
    }

    .sidebar-links {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        a {
          display: flex;
          align-items: center;
          padding: $base-padding*0.75 $base-padding*1.5 !important;
          text-decoration: none;
          color: $grey-dark;
          font-size: $base-font-size * 1.1;
          font-weight: 500;

          &:hover {
            background-color: $selected-green-light;
          }

          &:active {
            background-color: $selected-green !important;
            color: $sidebar-green !important;
            font-weight: 500;
          }

          span {
            padding-left: $base-padding * 0.75;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .selected {
          background-color: $selected-green !important;
          color: $sidebar-green !important;
          font-weight: 500;
        }
      }
    }
  }

  aside.sidebar-collapsed {
    flex: 0 0 5% !important;
    min-width: 75px;

    .brand-logo-large {
      display: none;
    }

    .brand-logo-small {
      display: block;
    }

    .sidebar-links {
      li {
        a {
          justify-content: center;
          padding: $base-padding*0.75 !important;

          span {
            display: none;
          }
        }
      }
    }
  }

  main.content {
//    min-width: 78vw;
    display: flex;
    position: relative;
    flex: 1 0 78%;
    flex-direction: column;
    background-color: $background-grey;
  }
}
