tbody.isolated {
    tr {
        &:hover {
            background-color: $white;
        }

        td {
            border-radius: $base-border-radius;
        }
    }
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $base-margin;

    label {
        margin: 0;
        padding: 0;
    }

    input, select, button {
        height: 54px;
        width: 100%;
        border: $base-border-weight*1.2 solid $secondary-grey;
        border-radius: 12px;
        font-size: $base-font-size*1.1;
        color: black;
        font-weight: 500;
    }

    input::placeholder {
        color: black;
    }

    input:hover, input:focus, select:hover, select:focus {
        border: 1.2px solid $primary-green-light;
        background: $background-grey;
    }

    input.with-search-icon {
        background: white url("../img/icons/other/search-icon.png") no-repeat scroll 20px 12px;
        padding-left: 56px;
    }

    input.with-search-icon:hover {
        background: $background-grey url("../img/icons/other/search-icon.png") no-repeat scroll 20px 12px;
    }

    button.with-filter-icon {
        background: white;

        &[value="show"]{
            padding-bottom: 5px;
        }

        svg {
            transform: translate(0, 5px);
        }
    }

    button.with-filter-icon:hover {
        background: $background-grey;
    }

    button.with-sort-icon {
        background: white;
    }

    button.with-sort-icon:hover {
        background: $background-grey;
    }
}

table {
    width: 100%;

    tr {
        padding: 5px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }

    th, td {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    thead tr {
        border-bottom: 2px solid $primary-green-light;
        background-color: $selected-green-light;
        border-radius: $base-border-radius $base-border-radius 0 0;
        padding: 0.75rem 0;

        th {
            font-weight: 600;
        }
    }

    tbody tr {
        border-bottom: 1.5px solid $secondary-grey;

        &:hover {
            background-color: $background-grey;
        }
    }

    tbody tr.no-content {
        border-radius: 0 0 $base-border-radius $base-border-radius;

        &:hover {
            background-color: unset;
        }
    }

    tfoot tr {
        border: none;
        background-color: $white;
        border-radius: 0 0 $base-border-radius $base-border-radius;
        padding: 0.75rem 0;

        td {
            display: inline;

            label {
                margin-left: 16px;
                display: inline;

                select {
                    height: 36px;
                    width: unset;
                }
            }
        }
    }

    .pagination {
        .arrow-icons {
            margin: 0 12px;
            padding-top: 8px;

            .left-arrow {
                cursor: pointer;
                margin-right: 5px;
                padding: 4px 4px 0;
            }

            .right-arrow {
                cursor: pointer;
                padding: 4px 4px 0;
                margin-left: 5px;
            }
        }
    }
}
