# Check if the Apache mod_rewrite module is installed and enabled
<IfModule mod_rewrite.c>
    # Activate the mod_rewrite module and enable URL rewriting
    RewriteEngine on
    RewriteBase /krushi-arunalu/

    # Rewrite all requests to public folder
    # (.*) matches any string and rewrites to "public/string"
    RewriteRule (.*) public/$1 [L]
</IfModule>
