// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// variables & functions
@import "partials/_variables";

// colors
@import "partials/_colors";

// base & layout
@import "partials/_base";
@import "partials/_grid";

// components (buttons, forms, etc)
@import "partials/components/button";
@import "partials/components/navbar";
@import "partials/components/form";
@import "partials/components/footer";

// utilities (spacing, typography, etc)
@import "partials/_utilities";
@import "partials/_typography";

// pages
@import "partials/pages/login";
@import "partials/pages/register";

// reset styles
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  font-family: inherit;
  transition: all 0.3s ease;
}

body {
    background-color: $white;
    color: $black;
    font-family: 'Poppins', sans-serif;
    font-size: $base-font-size;
    margin: 0;
    padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a.nav-link {
  text-decoration: none;
}

img {
  max-width: 100%;
}


