// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// variables & functions
@import "partials/_variables";

// colors
@import "partials/_colors";

// base & layout
@import "partials/_base";
@import "partials/_grid";

// components (buttons, forms, etc)
@import "partials/components/button";
@import "partials/components/navbar";
@import "partials/components/form";
@import "partials/components/footer";
@import "partials/components/sidebar";
@import "partials/components/table";
@import "partials/components/modal";

// utilities (spacing, typography, etc)
@import "partials/_utilities";
@import "partials/_typography";

// other common styles
@import "partials/_other";

// pages
@import "pages/index_page";
@import "pages/login_page";
@import "pages/register_page";
@import "pages/register_customer_page";
@import "pages/marketplace_page";
@import "pages/product_details_page";
@import "pages/manage_profile_page";
@import "pages/products_page";
@import "pages/manufacturer_store";
@import "pages/cultivation_questions_page";
@import "pages/connection_requests_page";
@import "pages/crop_requests_page";
@import "pages/inquiries_page";
@import "pages/chat_page";
@import "pages/purchased_stocks_page";
@import "pages/manufacturer_sales_page";
@import "pages/dashboard_page";

// reset styles
* {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    font-family: inherit;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

body {
    background-color: $white;
    color: $black;
    font-family: 'Poppins', sans-serif;
    font-size: $base-font-size;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
