@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 0) {
  .col-1-xs {
    flex: 0 0 8.3333333333%;
  }

  .col-2-xs {
    flex: 0 0 16.6666666667%;
  }

  .col-3-xs {
    flex: 0 0 25%;
  }

  .col-4-xs {
    flex: 0 0 33.3333333333%;
  }

  .col-5-xs {
    flex: 0 0 41.6666666667%;
  }

  .col-6-xs {
    flex: 0 0 50%;
  }

  .col-7-xs {
    flex: 0 0 58.3333333333%;
  }

  .col-8-xs {
    flex: 0 0 66.6666666667%;
  }

  .col-9-xs {
    flex: 0 0 75%;
  }

  .col-10-xs {
    flex: 0 0 83.3333333333%;
  }

  .col-11-xs {
    flex: 0 0 91.6666666667%;
  }

  .col-12-xs {
    flex: 0 0 100%;
  }
}
@media (min-width: 576px) {
  .col-1-sm {
    flex: 0 0 8.3333333333%;
  }

  .col-2-sm {
    flex: 0 0 16.6666666667%;
  }

  .col-3-sm {
    flex: 0 0 25%;
  }

  .col-4-sm {
    flex: 0 0 33.3333333333%;
  }

  .col-5-sm {
    flex: 0 0 41.6666666667%;
  }

  .col-6-sm {
    flex: 0 0 50%;
  }

  .col-7-sm {
    flex: 0 0 58.3333333333%;
  }

  .col-8-sm {
    flex: 0 0 66.6666666667%;
  }

  .col-9-sm {
    flex: 0 0 75%;
  }

  .col-10-sm {
    flex: 0 0 83.3333333333%;
  }

  .col-11-sm {
    flex: 0 0 91.6666666667%;
  }

  .col-12-sm {
    flex: 0 0 100%;
  }
}
@media (min-width: 768px) {
  .col-1-md {
    flex: 0 0 8.3333333333%;
  }

  .col-2-md {
    flex: 0 0 16.6666666667%;
  }

  .col-3-md {
    flex: 0 0 25%;
  }

  .col-4-md {
    flex: 0 0 33.3333333333%;
  }

  .col-5-md {
    flex: 0 0 41.6666666667%;
  }

  .col-6-md {
    flex: 0 0 50%;
  }

  .col-7-md {
    flex: 0 0 58.3333333333%;
  }

  .col-8-md {
    flex: 0 0 66.6666666667%;
  }

  .col-9-md {
    flex: 0 0 75%;
  }

  .col-10-md {
    flex: 0 0 83.3333333333%;
  }

  .col-11-md {
    flex: 0 0 91.6666666667%;
  }

  .col-12-md {
    flex: 0 0 100%;
  }
}
@media (min-width: 992px) {
  .col-1-lg {
    flex: 0 0 8.3333333333%;
  }

  .col-2-lg {
    flex: 0 0 16.6666666667%;
  }

  .col-3-lg {
    flex: 0 0 25%;
  }

  .col-4-lg {
    flex: 0 0 33.3333333333%;
  }

  .col-5-lg {
    flex: 0 0 41.6666666667%;
  }

  .col-6-lg {
    flex: 0 0 50%;
  }

  .col-7-lg {
    flex: 0 0 58.3333333333%;
  }

  .col-8-lg {
    flex: 0 0 66.6666666667%;
  }

  .col-9-lg {
    flex: 0 0 75%;
  }

  .col-10-lg {
    flex: 0 0 83.3333333333%;
  }

  .col-11-lg {
    flex: 0 0 91.6666666667%;
  }

  .col-12-lg {
    flex: 0 0 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    flex: 0 0 8.3333333333%;
  }

  .col-2-xl {
    flex: 0 0 16.6666666667%;
  }

  .col-3-xl {
    flex: 0 0 25%;
  }

  .col-4-xl {
    flex: 0 0 33.3333333333%;
  }

  .col-5-xl {
    flex: 0 0 41.6666666667%;
  }

  .col-6-xl {
    flex: 0 0 50%;
  }

  .col-7-xl {
    flex: 0 0 58.3333333333%;
  }

  .col-8-xl {
    flex: 0 0 66.6666666667%;
  }

  .col-9-xl {
    flex: 0 0 75%;
  }

  .col-10-xl {
    flex: 0 0 83.3333333333%;
  }

  .col-11-xl {
    flex: 0 0 91.6666666667%;
  }

  .col-12-xl {
    flex: 0 0 100%;
  }
}
.btn-primary-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #15742D;
}
.btn-primary-light:hover {
  background-color: #198a35;
}

.btn-outlined-primary-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #15742D;
}
.btn-outlined-primary-light:hover {
  background-color: #15742D;
  color: #FFFFFF;
}

.btn-primary-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #185427;
}
.btn-primary-dark:hover {
  background-color: #1e6830;
}

.btn-outlined-primary-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #185427;
}
.btn-outlined-primary-dark:hover {
  background-color: #185427;
  color: #FFFFFF;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #B1B1B1;
}
.btn-secondary:hover {
  background-color: #bebebe;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #B1B1B1;
}
.btn-outlined-secondary:hover {
  background-color: #B1B1B1;
  color: #FFFFFF;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.btn-outlined-white:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #000000;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.btn-outlined-black:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #CC3636;
}
.btn-error:hover {
  background-color: #d14a4a;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #CC3636;
}
.btn-outlined-error:hover {
  background-color: #CC3636;
  color: #FFFFFF;
}

.btn-error-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #8B0000;
}
.btn-error-dark:hover {
  background-color: #a50000;
}

.btn-outlined-error-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #8B0000;
}
.btn-outlined-error-dark:hover {
  background-color: #8B0000;
  color: #FFFFFF;
}

.navbar .container, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding: 1.125rem 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background: #FFFFFF;
  height: 100px;
}
.navbar .site-title {
  font-size: 1.5rem;
}
.navbar .container {
  max-width: 100%;
}
.navbar .brand-logo {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form label {
  display: block;
  margin-bottom: 0.75rem;
  text-align: left;
}
form input {
  height: 42px;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #B1B1B1;
  -webkit-box-sizing: border-box;
}
form input::placeholder {
  color: #B1B1B1;
  padding: 6px;
}
form input:hover, form input:focus {
  border: 1.5px solid #15742D;
}
form .alert {
  width: 100%;
  color: #CC3636;
  font-size: 0.9375rem;
  padding: 0.75rem 4.5rem;
  border: 1px solid #CC3636;
  background-color: #f8c4c4;
  border-radius: 8px;
  text-align: center;
  margin: 0.75rem auto 1.5rem auto;
}
form .error {
  color: #CC3636;
  font-weight: 500;
  font-size: 0.9375rem;
  margin-top: -0.375rem;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.375rem !important;
}

.m-2 {
  margin: 0.75rem !important;
}

.m-3 {
  margin: 1.5rem !important;
}

.m-4 {
  margin: 2.25rem !important;
}

.m-5 {
  margin: 4.5rem !important;
}

.m-auto {
  margin: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.375rem !important;
}

.p-2 {
  padding: 0.75rem !important;
}

.p-3 {
  padding: 1.5rem !important;
}

.p-4 {
  padding: 2.25rem !important;
}

.p-5 {
  padding: 4.5rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-1 {
  margin-top: 0.375rem !important;
}

.mb-1 {
  margin-bottom: 0.375rem !important;
}

.ml-1 {
  margin-left: 0.375rem !important;
}

.mr-1 {
  margin-right: 0.375rem !important;
}

.mt-2 {
  margin-top: 0.75rem !important;
}

.mb-2 {
  margin-bottom: 0.75rem !important;
}

.ml-2 {
  margin-left: 0.75rem !important;
}

.mr-2 {
  margin-right: 0.75rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.ml-3 {
  margin-left: 1.5rem !important;
}

.mr-3 {
  margin-right: 1.5rem !important;
}

.mt-4 {
  margin-top: 2.25rem !important;
}

.mb-4 {
  margin-bottom: 2.25rem !important;
}

.ml-4 {
  margin-left: 2.25rem !important;
}

.mr-4 {
  margin-right: 2.25rem !important;
}

.mt-5 {
  margin-top: 4.5rem !important;
}

.mb-5 {
  margin-bottom: 4.5rem !important;
}

.ml-5 {
  margin-left: 4.5rem !important;
}

.mr-5 {
  margin-right: 4.5rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-1 {
  padding-top: 0.375rem !important;
}

.pb-1 {
  padding-bottom: 0.375rem !important;
}

.pl-1 {
  padding-left: 0.375rem !important;
}

.pr-1 {
  padding-right: 0.375rem !important;
}

.pt-2 {
  padding-top: 0.75rem !important;
}

.pb-2 {
  padding-bottom: 0.75rem !important;
}

.pl-2 {
  padding-left: 0.75rem !important;
}

.pr-2 {
  padding-right: 0.75rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pb-3 {
  padding-bottom: 1.5rem !important;
}

.pl-3 {
  padding-left: 1.5rem !important;
}

.pr-3 {
  padding-right: 1.5rem !important;
}

.pt-4 {
  padding-top: 2.25rem !important;
}

.pb-4 {
  padding-bottom: 2.25rem !important;
}

.pl-4 {
  padding-left: 2.25rem !important;
}

.pr-4 {
  padding-right: 2.25rem !important;
}

.pt-5 {
  padding-top: 4.5rem !important;
}

.pb-5 {
  padding-bottom: 4.5rem !important;
}

.pl-5 {
  padding-left: 4.5rem !important;
}

.pr-5 {
  padding-right: 4.5rem !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-1 {
  margin-left: 0.375rem !important;
  margin-right: 0.375rem !important;
}

.my-1 {
  margin-top: 0.375rem !important;
  margin-bottom: 0.375rem !important;
}

.mx-2 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.my-2 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.mx-3 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.my-3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mx-4 {
  margin-left: 2.25rem !important;
  margin-right: 2.25rem !important;
}

.my-4 {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;
}

.mx-5 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important;
}

.my-5 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.px-1 {
  padding-left: 0.375rem !important;
  padding-right: 0.375rem !important;
}

.py-1 {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}

.px-2 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.py-2 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.px-3 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.px-4 {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}

.py-4 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.px-5 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.py-5 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

h1.title {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #15742D;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 600;
}

.text-primary-light {
  color: #15742D !important;
}
.text-primary-light:hover {
  color: #093314 !important;
}

.text-primary-dark {
  color: #185427 !important;
}
.text-primary-dark:hover {
  color: #07190b !important;
}

.text-light-green {
  color: #95C260 !important;
}
.text-light-green:hover {
  color: #6f9a3b !important;
}

.text-secondary {
  color: #B1B1B1 !important;
}
.text-secondary:hover {
  color: #8b8b8b !important;
}

.text-white {
  color: #FFFFFF !important;
}
.text-white:hover {
  color: #d9d9d9 !important;
}

.text-black {
  color: #000000 !important;
}
.text-black:hover {
  color: black !important;
}

.text-error {
  color: #CC3636 !important;
}
.text-error:hover {
  color: #912525 !important;
}

.text-error-dark {
  color: #8B0000 !important;
}
.text-error-dark:hover {
  color: #3f0000 !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  font-family: inherit;
  transition: all 0.3s ease;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
