@import "../partials/variables";

.inquiry-wrapper {
  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px rgba(21, 116, 45, 0.9) !important;

  .product-name {
    font-size: $base-font-size * 0.9;
    font-weight: 300;
    color: $grey-dark;
    padding-top: 2px;
  }

  .responded {
    background-color: $header-green;
    border-radius: $base-border-radius-sm;
  }

  .btn-view-responses{
    border: 1px solid $gold-light;
    border-radius: $base-border-radius-sm;
    background-color: $white;
    color: $gold-light;
    cursor: pointer;

    &:hover {
      background-color: $gold-light;
      color: $white;
    }
  }

  .response-card-wrapper {

    .company-logo {
      max-height: 80px;
      max-width: 80px;
    }
  }

  .response-card {
    background-color: $selected-green-light;
    border: none;
    border-radius: $base-border-radius-sm;
    width: 100%;
  }

}

.modal-window {
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  position: fixed;

  .modal-window-box {
    min-width: 500px;
    max-width: max-content;
    min-height: 20vh;
    max-height: max-content;
    background-color: $white;
    border-radius: $base-border-radius;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    border: none;
  }

}


