// system colors
$primary-green-light: #15742D;
$primary-green-dark: #185427;
$secondary-grey: #B1B1B1;
$background-grey: #F2F2F2;
$header-green: #95C260;
$selected-green: #D9F0BE;
$selected-green-light: #E7F4D8;
$gold-light: #B89130;
$gold-dark: #E7A811;
$grey-dark: #555555;
$error_red_light: #F08080;
$error-red: #CC3636;
$error-red-dark: #8B0000;
$green: #80CC28;
$white: #FFFFFF;
$black: #000000;

