@import "variables";

$margins: (
        0: 0,
        1: $base-margin * 0.25,
        2: $base-margin * 0.5,
        3: $base-margin,
        4: $base-margin * 1.5,
        5: $base-margin * 3,
        auto: auto,
) !default;

$paddings: (
        0: 0,
        1: $base-padding * 0.25,
        2: $base-padding * 0.5,
        3: $base-padding,
        4: $base-padding * 1.5,
        5: $base-padding * 3,
) !default;

// generate utility classes for margins
@each $key, $value in $margins {
  // generate m-* classes
  .m-#{$key} {
    margin: #{$value} !important;
  }
}

// generate utility classes for paddings
@each $key, $value in $paddings {
  // generate p-* classes
  .p-#{$key} {
    padding: #{$value} !important;
  }
}

// generate utility classes for sides and axis
$sides: (top, bottom, left, right);
$axises: (x, y);

// generate utility classes for side margins
@each $key, $value in $margins {
  @each $side in $sides {
    // generate m* classes
    .m#{str-slice($side, 0, 1)}-#{$key} {
      margin-#{$side}: #{$value} !important;
    }
  }
}

// generate utility classes for side paddings
@each $key, $value in $paddings {
  @each $side in $sides {
    // generate p* classes
    .p#{str-slice($side, 0, 1)}-#{$key} {
      padding-#{$side}: #{$value} !important;
    }
  }
}

// generate utility classes for axis margins
@each $key, $value in $margins {
  @each $axis in $axises {
    @if $axis == x {
      // generate classes for x axis

      // generate mx-* classes
      .m#{$axis}-#{$key} {
        margin-left: #{$value} !important;
        margin-right: #{$value} !important;
      }

    } @else if $axis == y {
      // generate classes for y axis

      // generate my-* classes
      .m#{$axis}-#{$key} {
        margin-top: #{$value} !important;
        margin-bottom: #{$value} !important;
      }

    } @else {
      @error "Unknown axis #{$axis}.";
    }
  }
}

// generate utility classes for axis paddings
@each $key, $value in $paddings {
  @each $axis in $axises {
    @if $axis == x {
      // generate classes for x axis

      // generate px-* classes
      .p#{$axis}-#{$key} {
        padding-left: #{$value} !important;
        padding-right: #{$value} !important;
      }

    } @else if $axis == y {
      // generate classes for y axis

      // generate my-* classes
      .p#{$axis}-#{$key} {
        padding-top: #{$value} !important;
        padding-bottom: #{$value} !important;
      }

    } @else {
      @error "Unknown axis #{$axis}.";
    }
  }
}

